a{
    text-decoration: none;
}
.pageName{
	width: 100%;
	height: 60px;
	background: rgba(92,166,31,1);
	background: -moz-linear-gradient(top, rgba(92,166,31,1) 0%, rgba(34,121,13,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(92,166,31,1)), color-stop(100%, rgba(34,121,13,1)));
	background: -webkit-linear-gradient(top, rgba(92,166,31,1) 0%, rgba(34,121,13,1) 100%);
	background: -o-linear-gradient(top, rgba(92,166,31,1) 0%, rgba(34,121,13,1) 100%);
	background: -ms-linear-gradient(top, rgba(92,166,31,1) 0%, rgba(34,121,13,1) 100%);
	background: linear-gradient(to bottom, rgba(92,166,31,1) 0%, rgba(34,121,13,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ca61f', endColorstr='#22790d', GradientType=0 );
}
.wrapper{
	width: 340px;
    height: auto;
    margin: 0 auto;
/*    background-color: red;*/
}
.pageName .wrapper .backicon{
	float: left;
    padding-top: 17px;
}
.pageName .wrapper .backicon img{
	width: 23px;
}
.pageName .wrapper h1{
	color: white;
	text-align: center;
	font-family: helvetica;
	padding-top: 18px;
    font-size: 18px;
    text-shadow: 1px 1px black;
}

.bgDetail{
	width: 100%;
	height: 560px;
	background: rgba(138,138,138,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(138,138,138,1) 0%, rgba(30,30,30,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(138,138,138,1)), color-stop(100%, rgba(30,30,30,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(138,138,138,1) 0%, rgba(30,30,30,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(138,138,138,1) 0%, rgba(30,30,30,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(138,138,138,1) 0%, rgba(30,30,30,1) 100%);
    background: radial-gradient(ellipse at center, rgba(138,138,138,1) 0%, rgba(30,30,30,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a8a8a', endColorstr='#1e1e1e', GradientType=1 );
}
.bgDetail .card1{
    width: 320px;
    margin-top: 23px;
    float: left;
}
.bgDetail .card2{
    width: 320px;
    margin-top: 23px;
    position: absolute;
}
.touch{
    position: absolute;
    width: 92px;
    margin-top: 175px;
    margin-left: -63px;
}
.menu{
	width: 100%;
    height: 79px;
	background-color: #222222;
}
.menu .bgMenu{
    width: 403px;
}
.menu .m-Home{
	width: 70px;
    height: 43px;
    position: absolute;
    margin-top: -69px;
    text-align: center;
    margin-left: 22px;
}
.menu .m-Home img{
    width: 59px;
}
.menu .m-Home h1{
	font-family: helvetica;
    color: #a19992;
    font-size: 12px;
    padding-top: 6px;
    text-shadow: 2px 2px black;
}

.menu .m-Card{
	width: 70px;
    height: 43px;
    position: absolute;
    margin-top: -69px;
    text-align: center;
    margin-left: 92px; 
}
.menu .m-Card img{
    width: 59px;
}
.menu .m-Card h1{
	font-family: helvetica;
    color: #a19992;
    font-size: 12px;
    padding-top: 6px;
    text-shadow: 2px 2px black;
}

.menu .m-Store{
	width: 70px;
    height: 43px;
    position: absolute;
    margin-top: -69px;
    text-align: center;
    margin-left: 162px;
}
.menu .m-Store img{
    width: 59px;
}
.menu .m-Store h1{
	font-family: helvetica;
    color: #a19992;
    font-size: 12px;
    padding-top: 6px;
    text-shadow: 2px 2px black;
}

.menu .m-Message{
	width: 70px;
    height: 43px;
    position: absolute;
    margin-top: -69px;
    text-align: center;
    margin-left: 232px;
}
.menu .m-Message img{
    width: 59px;
}
.menu .m-Message h1{
	font-family: helvetica;
    color: #a19992;
    font-size: 12px;
    padding-top: 6px;
    text-shadow: 2px 2px black;
}

.menu .m-More{
	width: 70px;
    height: 43px;
    position: absolute;
    margin-top: -69px;
    text-align: center;
    margin-left: 302px;
}
.menu .m-More img{
    width: 59px;
}
.menu .m-More h1{
	font-family: helvetica;
    color: #a19992;
    font-size: 12px;
    padding-top: 6px;
    text-shadow: 2px 2px black;
}














